# https://mariadb.com/kb/en/configuring-mariadb-with-option-files/
# https://mariadb.com/kb/en/mariadbd-options/
[client-server]
port = 3306
ssl-ca = /usr/local/share/ca-certificates/ca-cert.crt

[client]
ssl-verify-server-cert
default-character-set = utf8mb4

[server]
user = mysql
bind-address = *
skip-name-resolve
datadir = /var/lib/mysql
ssl-cert = /etc/mysql/ssl/mariadb-chain.crt
ssl-key = /etc/mysql/ssl/mariadb.key
# Only available for version >= 10.4 Enterprise / 10.5 Community:
require-secure-transport
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_520_ci
default-time-zone = Europe/Berlin
init-connect = 'SET NAMES utf8mb4'
slow-query-log = ON
query-cache-limit = 268435456
query-cache-type = ON
query-cache-size = 16777216
tmp-table-size = 67108864
max-heap-table-size = 67108864
table-open-cache-instances = 32
table-open-cache = 65536
